@model ASPCoreHOL.Models.Restaurant

@{
}

<div class="row">
    <div class="col-lg-6">
        <div class="card mb-4">
            <div class="card-header">
                Restaurant @Model.Name
            </div>
            <div class="card-body">
                ID: @Model.Id - Name: @Model.Name
            </div>
        </div>
    </div>
</div>