@model ASPCoreHOL.Models.Restaurant

<div class="row">
    <div class="col-lg-4">
        <div class="card mb-4">
            <div class="card-header">
                Update Restaurant
            </div>
            <div class="card-body">
                @if (ViewBag.ErrorMessage != null)
                {
                    <div class="alert alert-danger" role="alert">
                        @ViewBag.ErrorMessage
                    </div>
                }
                <form asp-action="Edit">
                    <div class="form-group">
                        <input asp-for="Id" class="form-control form-control-user" readonly="readonly"
                            placeholder="Restaurant Id" />
                    </div>
                    <div class="form-group">
                        <input asp-for="Name" class="form-control form-control-user" placeholder="Restaurant Name" />
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary btn-user btn-block" value="Update" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
